@media (max-width: 640px) {
  /* Header */
  header {
    width: 100%
    margin: 0;
    padding: 0px;
    background-color: #4b2f6a;
  }

  #logo {
    float: left;
  }

  #logo img {
    float: left;
    height: 51px;
    margin: 10px 0px 10px 20px;
  }

  header h1 {
    position: absolute;
    width: 70%;
    margin-top: 20px;
    margin-left: 15%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }

  nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
    background: url('navicon.gif');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
  }

  nav ul {
    display: block;
    position: absolute;
    top: 70px;
    right: 0px;
    list-style-type: none;
  }

  nav li {
  }

  nav a {
    display: block;
    width: 200px;
    text-decoration: none;
    color: #fff;
    text-transform: lowercase;
    background-color: #8f6fae;
    padding: 10px 10px;
    border-bottom: 1px solid #ccc;
  }
