@media (max-width: 640px) {
  /* Header */
  header {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #4b2f6a;
  }

  #logo {
    float: left;
  }

  #logo img {
    float: left;
    height: 51px;
    margin: 10px 0px 10px 20px;
  }

  header h1 {
    position: absolute;
    width: 70%;
    margin-top: 20px;
    margin-left: 15%;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }

  nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
    background: url('navicon.gif');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
  }

  nav ul {
    display: block;
    position: absolute;
    top: 70px;
    right: 0px;
    list-style-type: none;
  }

  nav li {
  }

  nav a {
    display: block;
    width: 200px;
    text-decoration: none;
    color: #fff;
    text-transform: lowercase;
    background-color: #8f6fae;
    padding: 10px 10px;
    border-bottom: 1px solid #ccc;
  }

  /* Main */
  #mainList img {
    float: left;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    border: 1px solid #333;
  }

  #mainList h3 {
    font-size: 1.0em;
  }

  #mainList h4 {
    font-size: 0.8em;
    color: #555;
  }

  .actions {
    clear: both;
    width: 100%;
  }

  .button {
    height: 15px;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: lowercase;
    color: #fff;
    cursor: pointer;
    text-align: center;
    width: 80%;
    border: none;
    font-size: 1em;
    margin: 5px auto;
  }

  input.button {
    height: 40px;
  }

  .button:hover {
    background-color: #cc4;
  }

  .bigButton {
    padding: 10px 0px;
    margin-bottom: 5px;
  }

  .centerButton {
    width: 300px;
    text-align: center;
    margin: 30px auto;
    padding: 15px 0px;
  }


  /* Footer */
  footer.login {
    position: absolute;
    bottom: 0;
    left: 0;
  }

}
